@media screen and (max-width: 992px) {
    table tbody tr td:nth-child(1):before {
        content: "Title";
    }
    table tbody tr td:nth-child(2):before {
        content: "Genre";
    }
    table tbody tr td:nth-child(3):before {
        content: "Language";
    }
    table tbody tr td:nth-child(4):before {
        content: "Year";
    }
    table tbody tr td:nth-child(5):before {
        content: "Status";
    }
    table tbody tr td:nth-child(6):before {
        content: "Picture";
    }
    table tbody tr td:nth-child(7):before {
        content: "About";
    }
}