body {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}

h4 {
    text-align: center;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}
input#barcode {
    margin: 20px 0;
}
.cover-photo {
    margin: 5px 0;
}

.book-btn-page {
    display: flex;
}
.space-right {
    margin: 0 25px 0 0;
}
.row.border.border-primary{
    display: flex;
    justify-content: center;
    align-items: center;
}
.books-btn-page {
    margin-top: 20px;
}

.remove-space {
    padding: 5px 0;
}
.remove-space:hover{
    background-color: #ffffff;
}
.main-img-cntr {
    display: flex;
    justify-content: center;
}
#search-book {

    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#booktable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#booktable th, #booktable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#booktable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#booktable tr.header, #booktable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

