body {
    font-family: 'Roboto', sans-serif;
    background-color: #E6E6E6;
}

h4 {
    text-align: center;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.cover-photo {
    margin: 5px 0;
}

.book-btn-page {
    display: flex;
}
.space-btw {
    margin: 0 25px;
}
.row.border.border-primary{
    display: flex;
    justify-content: center;
    align-items: center;
}
.books-btn-page {
    margin-top: 20px;
}