
@media screen and (max-width: 767px) {
    .nav_mobile_desk{
        display: none;
    }
    .book-cover-pos{
        justify-content: center;
    }
}
@media screen and (min-width: 767px) {
    .nav_mobile_mobile{
        display: none;
    }

}
@media screen and (max-width: 992px) {
    .table-head{
        display: none;
    }
    .btn-space-down{
        margin: 0;
    }
    .btn-pstn-users{
        float: none;
        margin-top: 0;
    }
    .book-title-font{
        width: auto;
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size: 24px;
    }
    .book-cover-pos{
        margin-top: 10px;
    }
}
@media screen and (min-width: 1047px){
    .detail-btn{
        margin: 0;
    }

}
